[Unit]
Description=SpiffyOS Twitch Bot
After=network.target

[Service]
User=spiffybot
WorkingDirectory=/opt/spiffyOS/bot
EnvironmentFile=/opt/spiffyOS/.env
ExecStart=/usr/bin/dotnet SpiffyOS.Bot.dll
Restart=always

[Install]
WantedBy=multi-user.target
